{% load static %}
<html>

<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

<link rel="stylesheet" type="text/css" href="/static/jet/css/vendor.css?v=1.0.7">
<link rel="stylesheet" type="text/css" href="/static/jet/css/icons/style.css?v=1.0.7">
<link rel="stylesheet" type="text/css" href="/static/jet/css/themes/simedarby/base.css?v=1.0.7" class="base-stylesheet">
<link rel="stylesheet" type="text/css" href="/static/jet/css/themes/simedarby/select2.theme.css?v=1.0.7" class="select2-stylesheet">
<link rel="stylesheet" type="text/css" href="/static/jet/css/themes/simedarby/jquery-ui.theme.css?v=1.0.7" class="jquery-ui-stylesheet">

<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">

    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
</head>

<body style="background:url('{% static 'ivms/img/gallery-glades.jpg' %}')" class=" login" data-admin-utc-offset="28800">

                {% block content %}{% endblock %}

</body>

</html>
