{% extends 'base_default.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Simedarby Community{% endblock %}

{% block content %}
<div id="container"><span class="sidebar-container-toggle sidebar-header-menu-icon icon-menu sidebar-toggle"></span>

    

    <!-- END Header -->

    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">



<form id="login-form">





<div style="text-align:center;">
<img src="/static/ivms/img/logo1.png" alt="Logo" width="50%">
</div>
  <div class="submit-row">
    <label>&nbsp;</label><a href="/admin/"style="background-color: #B9867A; color: #fff;font-size: 12px;font-weight: lighter;text-transform: uppercase;    margin: 0 5px 5px 0; padding: 0 20px;    display: inline-block;    border-radius: 4px;height: 32px;
    line-height: 32px;">To Admin Panel</a>
  </div>
</form>

</div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

</div>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#3e3e3e;
  padding:5px 20px;
} 
.footer-link,.footer-link:visited{
  margin:10px 10px;
  padding:0px;
  color:#fff;
}
.footer-link:hover{
  margin:10px 10px;
  padding:0px;
  color:#fff;
}
.footer-link:active{
  color:#fff;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<footer class="footer ">
  <a class="footer-link float-left">Powered By Sime Darby Property</a>
  <a class="footer-link float-right" style="margin-right:40px;"href="/static/ivms/file/TermsOfUsage.pdf">Terms of Usage</a>
  <a class="footer-link float-right" href="/static/ivms/file/PDPA.pdf">PDPA Notice</a>

</footer>

{% endblock %}